:root {
    color-scheme: light dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root:has(.color-scheme--light:checked) {
    color-scheme: light only;
}

:root:has(.color-scheme--dark:checked) {
    color-scheme: dark only;
}

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100vw;
    max-width: 1280px;
    margin-inline: auto;
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    overflow: hidden;
}